In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv(r"C:\Users\Mohamed Salman\Desktop\cardio_train.csv", delimiter=';')
df1.columns
# drop id
data=df1.drop('id',axis=1)
data.describe()
data.shape

(70000, 12)

In [ ]:
# convert age into int
data['age'] = data['age'] / 365
data['age'] = data['age'].astype(int)
data.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,52.840671,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,6.766774,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,29.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,53.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,58.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,64.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data['discrete age'] = pd.cut(data['age'], bins=[25,30,35,40,45,50,55,60,65],labels=[25,30,35,40,45,50,55,60])
data=data.drop('age',axis=1)
data['discrete age'] = data['discrete age'].astype(int)

In [ ]:
data.columns

Index(['gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc',
       'smoke', 'alco', 'active', 'cardio', 'discrete age'],
      dtype='object')

In [ ]:
data=data[[ 'discrete age','gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc',
       'smoke', 'alco', 'active', 'cardio']]
data

,discrete age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,45,2,168,62.0,110,80,1,1,0,0,1,0
1,50,1,156,85.0,140,90,3,1,0,0,1,1
2,50,1,165,64.0,130,70,3,1,0,0,0,1
3,45,2,169,82.0,150,100,1,1,0,0,1,1
4,45,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,50,2,168,76.0,120,80,1,1,1,0,1,0
69996,60,1,158,126.0,140,90,2,2,0,0,1,1
69997,50,2,183,105.0,180,90,3,1,0,1,0,1
69998,60,1,163,72.0,135,80,1,2,0,0,0,1
69999,55,1,170,72.0,120,80,2,1,0,0,1,0

In [ ]:
data.describe()

,discrete age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49.770000,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,6.957211,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,25.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,45.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,55.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,60.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# remove outliers from height and weight

def remove_outliers(df,columns,n_std):
    for col in columns:
        q_low = df[col].quantile(0.01)
        q_hi  = df[col].quantile(.99)
        df = df[(df[col] < q_hi) & (df[col] > q_low) ]

    return df

data=remove_outliers(data,['height','weight','ap_hi','ap_lo'],3)
data.shape

(62182, 12)

In [ ]:
data.describe()

,discrete age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000,62182.000000
mean,49.855585,1.352272,164.566756,74.015012,126.869480,82.327024,1.363932,1.225017,0.087244,0.053150,0.803914,0.501094
std,6.912651,0.477682,7.193476,12.703725,14.439286,17.495451,0.680210,0.572182,0.282194,0.224335,0.397037,0.500003
min,25.000000,1.000000,148.000000,49.000000,93.000000,61.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,45.000000,1.000000,160.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
75%,55.000000,2.000000,170.000000,82.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,60.000000,2.000000,183.000000,116.000000,179.000000,910.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

## we can also discretize some other features but let's move onto the models

In [ ]:
X, y = data.drop('cardio', axis=1), data[['cardio']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size=0.2, random_state=0)
xtrain=X_train.to_numpy()
xtest=X_val.to_numpy()
ytrain=y_train.to_numpy()
ytest=y_val.to_numpy()

## we will use the built in classifier first then compare with our model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
import time # to meaasure training time
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)
t1=time.time()
classifier.fit(xtrain, ytrain)
t2=time.time()
print("time for training is ", t2-t1)
t1=time.time()
y_pred= classifier.predict(xtest)
t2=time.time()
print("time for prediction is ", t2-t1)

time for training is  0.2662069797515869
time for prediction is  0.00543522834777832

In [ ]:
from sklearn.metrics import accuracy_score
accuracysklearn=accuracy_score(ytest, y_pred)
accuracysklearn

0.635442630859532

# now we will move onto our model

In [ ]:
import numpy as np
from collections import Counter
from statistics import mode
from sklearn.metrics import accuracy_score

class Question:


    """Questions are used to partition a dataset into subtables according to discrete values."""
    def __init__(self, column, partition_values):
        self.column = column  # the feature we are splitting on
        self.partition_values = partition_values  # the unique/discrete values of the node question(branches)


    def match(self, row):
        """matches row feature with the  idx of child branch it should go to."""
        """" suppose we have a feat with low, mid, high as values during classification the match function
        returns the idx of the child branch we move to according to row column value """



        for t, val in enumerate(self.partition_values):
            if row[self.column] == val:
                return t

        # if it does not match with any data seen on training return 0 (first child)
        return 0


class node:
    """ Holds a reference to the question, and the child nodes that is partitioned by the question. """
    def __init__(self, child_branches, question):
        self.child_branches = child_branches
        self.question = question

In [ ]:
class Leaf:
    """
    holds labels for pure nodes

    used in classification when traversing the tree
    """
    def __init__(self, most_common):

        self.label=most_common

In [ ]:
class id3:
    def __init__(self, min_samples_split=2, max_depth=5):
        self.min_samples_split=min_samples_split
        self.max_depth=max_depth
        self.root=None

    def fit(self, X, y):
                self.root = self._build_tree(X, y, 0, [])

    def class_counts(self,numpy_arr):
        """Returns the unique elements that are inside the
        numpy array, and their individual counts"""

        if len(numpy_arr.shape)==2:
            valueCounts = pd.Series(numpy_arr[:, 0]).value_counts()
            return np.array(valueCounts.keys().to_list()), np.array(valueCounts.to_list())
        else:
            valueCounts = pd.Series(numpy_arr).value_counts()
        return np.array(valueCounts.keys().to_list()), np.array(valueCounts.to_list())

    def find_best_split(self, X, y, used_attributes):
        """
        loop opver every feature (except features used in a previous split).
        Choose the best possible attribute and best possible split in terms of information gain.
        """
        copy_used_attributes = used_attributes[0:]
        best_gain = 0
        best_question = None
        best_partition = []
        used_attribute = 0  # To not use any attribute (to split the data-subset) twice, in a single path from root to leaf.
        current_entropy = self.entropy(y)
        n_features = X.shape[1]


        for col in range(n_features):
            if col in copy_used_attributes:
                continue

            # multi-way split: as many branches as len(unique_values)
            unique_values, counts = self.class_counts(X[:,col])
            partitions_to_indexesOfSamples = []

            for value in unique_values:
                indexes_in_this_partition = X[:, col] == value
                partitions_to_indexesOfSamples.append(indexes_in_this_partition)

            # calculate info gain after getting idxs of feature values

            gain = self.information_gain(y, partitions_to_indexesOfSamples, current_entropy)



            if gain >= best_gain:
                best_gain = gain
                best_partition = partitions_to_indexesOfSamples
                best_question = Question(col, unique_values)
                used_attribute = col

        copy_used_attributes.append(used_attribute)
        return best_gain, best_partition, best_question, copy_used_attributes



    def _build_tree(self, X_train, y_train, depth, used_attributes):
        """ recursive decision tree building function """

        # base cases // stopping criterias

        if X_train.shape[0] < self.min_samples_split:
            return Leaf(self._most_common_label(y_train))

        if depth >self.max_depth:
            return Leaf(self._most_common_label(y_train))



        gain, partitions, question, used_attributes = self.find_best_split(X_train, y_train, used_attributes)

        if gain == 0 or question is None:
            return Leaf(self._most_common_label(y_train)) # no gain from splitting or we used all features


        child_branches = []
        for indices_in_this_partition in partitions:
            child_branches.append( self._build_tree(X_train[indices_in_this_partition], y_train[indices_in_this_partition], depth+1, used_attributes) )

        return node(child_branches, question)


    def entropy(self,y):
        n=y.shape[0]
        classes,counts=self.class_counts(y)
        p=np.true_divide(counts,n)
        entropy=-np.sum(np.multiply(p,np.log2(p)))

        return entropy

    def information_gain(self,y, intervals_indexes, current_entropy):
        """Information Gain:  The total Entropy of the parent node, minus the weighted entropy of child nodes. """
        sum_ = 0
        len_sum = 0

        # weighted sum of entropies of each split (or interval)
        for interval_indices in intervals_indexes:
            sum_ += float(len(interval_indices) * self.entropy(y[interval_indices]))
            len_sum += len(interval_indices)

        return current_entropy - sum_ / len_sum


    def _split(self, column):
        uniquevalues,counts=self.class_counts(column)
        indices=[]
        for x in uniquevalues:
            idx=np.argwhere(column==x).flatten()
            indices.append(idx)

        return indices

    def _most_common_label(self, y):
        flaty = [element for array in y for element in array]
        return max(flaty, key = flaty.count)

    def predict(self, X_test):
        preds = []

        for i, row in enumerate(X_test):
            preds.append(self._classify(row,self.root))

        preds = np.array(preds)


        return preds

    def _classify(self, row, node):
        """Recursively traverses the decision tree towards a prediction(Leaf node)"""

        # Base case: At a leaf node
        if isinstance(node, Leaf):
            return node.label


        branch_to_go = node.child_branches[node.question.match(row)]
        return self._classify(row, branch_to_go)

In [ ]:
classifier= id3()
t1=time.time()
classifier.fit(xtrain, ytrain)
t2=time.time()
print("time for training is ", t2-t1)
t1=time.time()
y_pred= classifier.predict(xtest)
t2=time.time()
print("time for prediction is ", t2-t1)

time for training is  87.51246619224548
time for prediction is  0.22652959823608398

## we can see that our model scores well on the time metrics as it took less than 2 mins for training and less than 1 second for prediction

### the built in classifier obviously does better but that could be due to multi way splits from our model on data that is not discrete

In [ ]:
accuracy=accuracy_score(ytest, y_pred)
accuracy

0.629653453405162

### our model produces a really similar score on the accuracy metric to the built in classifier, maybe the accuracy could be imporoved by more processing to the data or choosing a data set suitable for discrete trees

In [ ]:
# lets test the training score
y_pred= classifier.predict(xtrain)
accuracy=accuracy_score(ytrain, y_pred)
accuracy
# the model score pretty well for training data which indicates it is a good model for discrete data/seen data

0.9036486079002914